{% extends "::base.html.twig" %}

{% block title %}AdenisMainBundle:Call:contact{% endblock %}

{% block body %}
    <div style="margin-left: 30px">

        <div>
            Wellcome {{ name }}!
        </div>

        <hr/>

        <div>

        </div>
    </div>
{% endblock %}
